body{
font-family: Tahoma;
direction: rtl;
padding: 15px;
}

section{
border:1px solid #ccc;
padding:10px;
margin-bottom:20px;
border-radius:10px;
}

button{
padding:6px 10px;
margin-top:5px;
}

input,select{
padding:6px;
margin-top:5px;
}

#calendar{
display:flex;
flex-wrap:wrap;
}

.day{
width:40px;
height:40px;
margin:2px;
display:flex;
justify-content:center;
align-items:center;
border:1px solid #aaa;
border-radius:6px;
}

.booked{
background:#4caf50;
color:white;
}
