body {
    font-family: Tahoma, sans-serif;
    direction: rtl;
    padding: 10px;
}

section {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
}

input, button {
    margin: 5px 0;
    padding: 5px;
}
